@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: 'Fjalla One', sans-serif;
    scroll-behavior: smooth;
  }
  main {
    padding-top: 5%;  
}

  #header-container {
    display: flex;
    background-color: #302f2f;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
  }
  
  #header-container p {
    margin: 0 1%;
  }
  
   #top-menu ul {
     display: flex;
   }
  
   #top-menu li {
    display: inline-block;
    padding: 15px;
    color: white;
   }
  
   #top-menu li:hover {
    background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
    color: black;
    border-bottom: 1px solid #302f2f;
   }

   footer {
    display: flex;
    justify-content:center;
    background-color: black;
    color: white;
    padding: 1%;
  }

  .main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 20vw;
    height: 50vh;
    margin: 10px 10px;
  }

.img-project{
  width: 100%;
  height: 70%;
  margin-bottom: 5%;
}

.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: inline-block;
   border: none;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: black;
   text-decoration: none;
 }
