@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

#header-container{
  background-color: #ECF39E;
  width: 100%;
  position: fixed;
  padding: 20px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header a {
  color: #132A13;
  text-decoration: none;
}

header nav {
  display: flex;
}

header a {
  text-decoration: none;
  opacity: 0.8;
  padding:0 10px;
  color: #132A13;
}

header a:hover {
  opacity: 1;
}

header a:active , header a:hover , header a:visited{
  color: inherit;
}

nav, ul {
  list-style: none;
}

.profile {
  min-height: 100vh;
  background-color: #132A13;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.profile h3 {
  font-size:25px;
  margin-bottom:15px;
  line-height: 1cm;
}

.profile .btn {
  background-color: #90A955;
  text-decoration: none;
  color: #132A13;
  border-radius: 4px;
  text-transform: uppercase;
  padding:20px 50px;
}
.btn:hover{
  background-color: #ECF39E;
}

.project-container{
  background-color:white;
  padding: 100px 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.project-container h3 {
  font-size:35px;
  margin-bottom: 35px;
  text-align: center;
  color: #31572C;
}

.project-container p{
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color:#132A13;
}

.project-container hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
  background-color:#132A13
}

.project-container .grid {
  width: 100%;
  display: flex;
}

.project-container .grid li {
  padding: 0 30px;
  text-align: center;
}

.project-container .grid li i {
  color: #90A955;
  font-size:35px;
  margin-bottom: 30px;
}

.project-container .grid li h4 {
  color: #90A955;
  font-size:25px;
  margin-bottom: 30px;
}

.project-container2{
  background-color:#132A13;
  padding: 100px 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.project-container2 h3 {
  font-size:35px;
  margin-bottom: 35px;
  text-align: center;
  color: #ECF39E;
}

.project-container2 p{
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color:white;
}

.project-container2 hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
  background-color:#ECF39E
}

.project-container2 .grid {
  width: 100%;
  display: flex;
}

.project-container2 .grid li {
  padding: 0 30px;
  text-align: center;
}

.project-container2 .grid li i {
  color: #ECF39E;
  font-size:35px;
  margin-bottom: 30px;
}

.project-container2 .grid li h4 {
  color: #ECF39E;
  font-size:25px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#132A13;
  padding: 50px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li i {
  color: #ECF39E;
  font-size: 25px;
}

footer p {
  color: #ECF39E;
  text-align: center;
}

@media (max-width: 768px) {
  .profile h1 {
    font-size: 30px;
  }

  .profile h3 {
    font-size: 15px;
  }

  .project-container .grid {
    flex-direction: column;
  }

  .project-container2 .grid {
    flex-direction: column;
  }

  footer ul li i {
    font-size: 35px;
    margin-right: 30px;
  }
};