@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  padding: 0;
  margin: 0;
  border: border-box;
  font-family: 'Fjalla One', sans-serif;
  scroll-behavior: smooth;
}

#header-container {
  display: flex;
  background-color: #302f2f;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

#header-container p {
  margin: 0 1%;
}

 #top-menu ul {
   display: flex;
   margin:0;
 }

 #top-menu li {
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
 }

 #top-menu li:hover{
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
  color: black;
  border-bottom: 1px solid #302f2f;
  text-decoration: none;
 }

 .profile-container{
   display: flex;
   align-items: center;
   justify-content:center;
   height:100vh;
   background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
   text-align: center;
 }

 .img-profile{
  display: flex;
  width: 30vw;
  height: 50vh;
 }

 .info-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width: 50vw;
  height: 50vh;
 }

 .profile-container h1 {
   padding: 1%;
 }

.project-container{
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);  height: 60vh;
}

.img-project{
  width: 30vw;
  height: 15vw;
  padding: 0 7vw;
}

.project-ul{
  width: 25vw;
  color: #22d271;
  line-height: 2em;
}

.project-ul2{
  width: 25vw;
  color: white;
  line-height: 2em;
}

.project-container2{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row-reverse;
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);  
  height: 60vh;
}

hr {
  height: 0.5vh;
  border: none;
  background-color: #22d271;
  margin: 2% 0; 
}

footer {
  display: flex;
  justify-content:center;
  background-color: black;
  color: white;
  padding: 1%;
}

.btn-grad {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   border: none;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: inline-block;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


