* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 2%;
}

#image-profile {
  width: 270px;
  float: left;
  border-radius: 150px;
  height: 270px;
  padding: 10px;
}

.header-content {
  height: 300px;
  display: inline-flexbox;
  max-width: 100%;
}

#name {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
}

#description {
  /*    position: absolute;*/
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 15%;
  padding-top: 7%;
}

ul li:nth-child(odd):hover {
  text-decoration: underline;
}
