#name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
}
#description {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
}
body {
  background-color: #fcfcfc;
}
#picture {
  border-radius: 100px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.soft-skill {
  font-size: large;
}
.hard-skill {
  font-size: larger;
}
.menu {
  padding: 15px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #036666;
  font-weight: 600;
}
