* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(10, 126, 81);
  color: white;
}

.title-container {
  padding: 10px 30px 15px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
  height: 100vh;
  font-family: sans-serif;
  margin-left: 20px;
}

ol li {
  padding: 10px;
}

.completed {
  text-decoration: line-through solid black;
}
